<div class="form-cont">
  <form nz-form [formGroup]="searchForm"
        class="ant-advanced-search-form">
    <div nz-row [nzGutter]="40">
      <div nz-col [nzSpan]="8">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="5">
            <label [attr.for]="'typeNameId'">类型名称</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="19">
            <nz-input [nzSize]="'large'"
                      [nzPlaceHolder]="'类型名称'"
                      [formControlName]="'typeName'"
                      [nzId]="'typeNameId'"></nz-input>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="8">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="5">
            <label [attr.for]="'ftypeNameId'">父类型名</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="19">
            <nz-input [nzSize]="'large'"
                      [nzPlaceHolder]="'父类型名'"
                      [formControlName]="'ftypeName'"
                      [nzId]="'ftypeNameId'"></nz-input>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="8">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="5">
            <label [attr.for]="'remarkId'">备注</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="19">
            <nz-input [nzSize]="'large'"
                      [nzPlaceHolder]="'备注'"
                      [formControlName]="'remark'"
                      [nzId]="'remarkId'"></nz-input>
          </div>
        </div>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24" style="text-align: right;">
        <button nz-button [nzType]="'default'"
                (click)="showAddModal()">新增</button>
        <button nz-button [nzType]="'primary'"
                (click)="search('search')">查询</button>
        <button nz-button [nzType]="'dashed'"
                (click)="resetForm()">重置</button>
      </div>
    </div>
  </form>
</div>

<!--<div class="table-cont">-->
  <!--<nz-table-->
    <!--#nzTable-->
    <!--[nzScroll]="_fixHeader?{ y: 320 }:null"-->
    <!--[nzAjaxData]="_dataSet"-->
    <!--[nzBordered]="_bordered"-->
    <!--[nzLoading]="_loading"-->
    <!--[nzIsPagination]="_pagination"-->
    <!--[nzShowQuickJumper]="true"-->
    <!--[nzTotal]="_total"-->
    <!--[nzShowTotal]="true"-->
    <!--[(nzPageIndex)]="_current"-->
    <!--(nzPageIndexChange)="search('index')"-->
    <!--[(nzPageSize)]="_pageSize"-->
    <!--[nzShowSizeChanger]="true"-->
    <!--(nzPageSizeChange)="search('size')"-->
    <!--[nzShowFooter]="_footer"-->
    <!--[nzShowTitle]="_title"-->
    <!--[nzSize]="_size">-->
    <!--<span nz-table-title>Here is Title</span>-->
    <!--<ng-template #nzFixedHeader [ngIf]="_header&&!_fixHeader">-->
      <!--<thead nz-thead>-->
      <!--<tr>-->
        <!--<th nz-th [nzWidth]="'60px'"><span>tid</span></th>-->
        <!--<th nz-th [nzWidth]="'100px'"><span>类型名</span></th>-->
        <!--<th nz-th [nzWidth]="'60px'"><span>fid</span></th>-->
        <!--<th nz-th [nzWidth]="'100px'"><span>父类型名</span></th>-->
        <!--<th nz-th [nzWidth]="'200px'"><span>备注</span></th>-->
        <!--<th nz-th [nzWidth]="'60px'"><span>排序</span></th>-->
        <!--<th nz-th [nzWidth]="'60px'"><span>有效性</span></th>-->
        <!--<th nz-th><span>操作</span></th>-->
      <!--</tr>-->
      <!--</thead>-->
    <!--</ng-template>-->
    <!--<tbody nz-tbody>-->
    <!--<tr nz-tbody-tr *ngFor="let data of nzTable.data">-->
      <!--<td nz-td>{{data.typeId}}</td>-->
      <!--<td nz-td>{{data.typeName}}</td>-->
      <!--<td nz-td>{{data.typePid}}</td>-->
      <!--<td nz-td>{{data.typePname}}</td>-->
      <!--<td nz-td>{{data.remark}}</td>-->
      <!--<td nz-td>{{data.sortNo}}</td>-->
      <!--<td nz-td>{{data.validity}}</td>-->
      <!--<td nz-td>-->
          <!--<span>-->
              <!--<a (click)="showEditModal(data)">编辑 一 {{data.typeName}}</a>-->
              <!--<span nz-table-divider></span>-->
              <!--<a href="#" (click)="showDeleteConfirm(data)">删除 一 {{data.typeName}}</a>-->
          <!--</span>-->
      <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--<span nz-table-footer>Here is footer</span>-->
  <!--</nz-table>-->
<!--</div>-->

<div class="table-cont">
  <nz-table #nzTreeTable
            [nzDataSource]="treeTableDataList"
            [nzBordered]="true"
            [nzLoading]="_loading"
            [nzIsPagination]="false"
            [nzSize]="_size">
    <thead nz-thead>
      <tr>
        <!--<th nz-th [nzWidth]="'60px'"><span>tid</span></th>-->
        <th nz-th [nzWidth]="'200px'"><span>类型名</span></th>
        <th nz-th [nzWidth]="'60px'"><span>fid</span></th>
        <th nz-th [nzWidth]="'200px'"><span>父类型名</span></th>
        <th nz-th [nzWidth]="'200px'"><span>备注</span></th>
        <th nz-th [nzWidth]="'60px'"><span>排序</span></th>
        <th nz-th [nzWidth]="'60px'"><span>有效性</span></th>
        <th nz-th><span>操作</span></th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <ng-template ngFor let-data [ngForOf]="nzTreeTable.data">
        <ng-template ngFor let-item [ngForOf]="expandDataCache[data.typeId]">
          <tr nz-tbody-tr *ngIf="(item.parent&&item.parent.expand)||!(item.parent)">
            <td nz-td>
              <nz-row-indent [nzIndentSize]="item.level"></nz-row-indent>
              <nz-row-expand-icon [(nzExpand)]="item.expand"
                                  (nzExpandChange)="collapse(expandDataCache[data.typeId],item,$event)"
                                  [nzShowExpand]="item.children.length<=0"></nz-row-expand-icon>
              {{item.typeName}}
            </td>
            <!--<td nz-td>{{item.typeId}}</td>-->
            <!--<td nz-td>{{item.typeName}}</td>-->
            <td nz-td>{{item.typePid}}</td>
            <td nz-td>{{item.pTypeName}}</td>
            <td nz-td>{{item.remark}}</td>
            <td nz-td>{{item.sortNo}}</td>
            <td nz-td>{{item.validity}}</td>
            <td nz-td>
              <span>
                <a (click)="showEditModal(item)">编辑 一 {{item.typeName}}</a>
                <span nz-table-divider></span>
                <a href="#" (click)="showDeleteConfirm(item)">删除 一 {{item.typeName}}</a>
              </span>
            </td>
          </tr>
        </ng-template>
      </ng-template>
    </tbody>
  </nz-table>
</div>

<!--编辑-->
<nz-modal [nzVisible]="isEditVisible"
          [nzTitle]="editTitle"
          [nzContent]="editContent"
          [nzFooter]="editFooter"
          (nzOnCancel)="editCancel($event)">
  <ng-template #editTitle>
    编辑
  </ng-template>
  <ng-template #editContent>
    <form nz-form [formGroup]="editForm">
      <div nz-row [nzGutter]="20">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="7">
              <label [attr.for]="'editTypeNameId'">类型名称</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'类型名称'"
                        [formControlName]="'editTypeName'"
                        [nzId]="'editTypeNameId'"></nz-input>
            </div>
          </div>
        </div>
        <!--<div nz-col [nzSpan]="12">-->
          <!--<div nz-form-item nz-row>-->
            <!--<div nz-form-label nz-col [nzSpan]="7">-->
              <!--<label [attr.for]="'editFtypeNameId'">父类型</label>-->
            <!--</div>-->
            <!--<div nz-form-control nz-col [nzSpan]="17">-->
              <!--<nz-input [nzSize]="'large'"-->
                        <!--[nzPlaceHolder]="'父类型'"-->
                        <!--[formControlName]="'editFtypeName'"-->
                        <!--[nzId]="'editFtypeNameId'"></nz-input>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <div nz-row [nzGutter]="20">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="7">
              <label>排序</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input-number [formControlName]="'editSortNo'"
                               [nzSize]="'large'"
                               [nzMin]="1" [nzStep]="1"></nz-input-number>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="7">
              <label>有效性</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-radio-group [formControlName]="'editValidity'">
                <label nz-radio [nzValue]="0">
                  <span>有效</span>
                </label>
                <label nz-radio [nzValue]="1">
                  <span>无效</span>
                </label>
              </nz-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div nz-row [nzGutter]="20">
        <div nz-col [nzSpan]="24">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label [attr.for]="'editRemarkId'">备注</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="21">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'备注'"
                        [formControlName]="'editRemark'"
                        [nzId]="'editRemarkId'"></nz-input>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #editFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'"
            (click)="editCancel($event)">返 回</button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'"
            (click)="editOk($event)"
            [nzLoading]="isEditConfirmLoading">提 交</button>
  </ng-template>
</nz-modal>

<!--新增-->
<nz-modal [nzVisible]="isAddVisible"
          [nzTitle]="addTitle"
          [nzContent]="addContent"
          [nzFooter]="addFooter"
          (nzOnCancel)="addCancel($event)">
  <ng-template #addTitle>
    新增
  </ng-template>
  <ng-template #addContent>
    <form nz-form [formGroup]="addForm">
      <div nz-row [nzGutter]="20">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="7">
              <label [attr.for]="'addTypeNameId'">类型名称</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'类型名称'"
                        [formControlName]="'addTypeName'"
                        [nzId]="'addTypeNameId'"></nz-input>
            </div>
          </div>
        </div>
        <!--<div nz-col [nzSpan]="12">-->
          <!--<div nz-form-item nz-row>-->
            <!--<div nz-form-label nz-col [nzSpan]="7">-->
              <!--<label [attr.for]="'addFtypeNameId'">父类型</label>-->
            <!--</div>-->
            <!--<div nz-form-control nz-col [nzSpan]="17">-->
              <!--<nz-input [nzSize]="'large'"-->
                        <!--[nzPlaceHolder]="'父类型'"-->
                        <!--[formControlName]="'addFtypeName'"-->
                        <!--[nzId]="'addFtypeNameId'"></nz-input>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <div nz-row [nzGutter]="20">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="7">
              <label>排序</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input-number [formControlName]="'addSortNo'"
                               [nzSize]="'large'"
                               [nzMin]="1" [nzMax]="10"
                               [nzStep]="1"></nz-input-number>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="7">
              <label>有效性</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-radio-group [formControlName]="'addValidity'">
                <label nz-radio [nzValue]="0">
                  <span>有效</span>
                </label>
                <label nz-radio [nzValue]="1">
                  <span>无效</span>
                </label>
              </nz-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div nz-row [nzGutter]="20">
        <div nz-col [nzSpan]="24">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label [attr.for]="'addRemarkId'">备注</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="21">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'备注'"
                        [formControlName]="'addRemark'"
                        [nzId]="'addRemarkId'"></nz-input>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #addFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'"
            (click)="addCancel($event)">
      返 回
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'"
            (click)="addOk($event)" [nzLoading]="isAddConfirmLoading">
      提 交
    </button>
  </ng-template>
</nz-modal>
