<div class="form-cont">
  <form nz-form [formGroup]="searchForm"
        class="ant-advanced-search-form">
    <div nz-row [nzGutter]="20">
      <div nz-col [nzSpan]="7">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="5">
            <label [attr.for]="'jcNameId'">机床名</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="19">
            <nz-input [nzSize]="'large'"
                      [nzPlaceHolder]="'机床名称'"
                      [formControlName]="'jcName'"
                      [nzId]="'jcNameId'"></nz-input>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="4">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label>类型</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="18">
            <nz-select [formControlName]="'jcType'"
                       nzAllowClear
                       [nzPlaceHolder]="'选择一个类型'">
              <nz-option
                *ngFor="let option of jcTypes"
                [nzLabel]="option.typeName"
                [nzValue]="option.typeId">
              </nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="4">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label>品牌</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="18">
            <nz-select [formControlName]="'jcBrand'"
                       nzAllowClear
                       [nzPlaceHolder]="'选择一个品牌'">
              <nz-option
                *ngFor="let option of jcBrands"
                [nzLabel]="option.brandName"
                [nzValue]="option.brandId">
              </nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="9">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>状态</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="20">
            <nz-radio-group [formControlName]="'isSale'">
              <label nz-radio-button [nzValue]="0">
                <span>出售中</span>
              </label>
              <label nz-radio-button [nzValue]="1">
                <span>未上架</span>
              </label>
              <label nz-radio-button [nzValue]="2">
                <span>已售出</span>
              </label>
            </nz-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24" style="text-align: right;">
        <button nz-button [nzType]="'default'"
                (click)="showAddModal()">新增</button>
        <button nz-button [nzType]="'primary'"
                (click)="search('search')">查询</button>
        <button nz-button [nzType]="'dashed'"
                (click)="resetForm()">重置</button>
      </div>
    </div>
  </form>
</div>

<div class="table-cont">
  <nz-table
    #nzTable
    [nzScroll]="_fixHeader?{ y: 320 }:null"
    [nzAjaxData]="_dataSet"
    [nzBordered]="_bordered"
    [nzLoading]="_loading"
    [nzIsPagination]="_pagination"
    [nzShowQuickJumper]="true"
    [nzTotal]="_total"
    [nzShowTotal]="true"
    [(nzPageIndex)]="_current"
    (nzPageIndexChange)="search('index')"
    [(nzPageSize)]="_pageSize"
    [nzShowSizeChanger]="true"
    (nzPageSizeChange)="search('size')"
    [nzShowFooter]="_footer"
    [nzShowTitle]="_title"
    [nzSize]="_size">
    <span nz-table-title>Here is Title</span>
    <ng-template #nzFixedHeader [ngIf]="_header&&!_fixHeader">
      <thead nz-thead>
      <tr>
        <!--<th nz-th [nzWidth]="'60px'"><span>jcId</span></th>-->
        <th nz-th [nzWidth]="'100px'"><span>机床名</span></th>
        <th nz-th [nzWidth]="'100px'"><span>机床类型</span></th>
        <th nz-th [nzWidth]="'100px'"><span>品牌</span></th>
        <th nz-th [nzWidth]="'100px'"><span>型号</span></th>
        <th nz-th [nzWidth]="'100px'"><span>原产地</span></th>
        <th nz-th [nzWidth]="'100px'"><span>生产日期</span></th>
        <th nz-th [nzWidth]="'100px'"><span>使用年限</span></th>
        <th nz-th [nzWidth]="'60px'"><span>状态</span></th>
        <th nz-th [nzWidth]="'80px'"><span>价格</span></th>
        <th nz-th [nzWidth]="'120px'"><span>备注</span></th>
        <!--<th nz-th [nzWidth]="'60px'"><span>排序</span></th>-->
        <!--<th nz-th [nzWidth]="'60px'"><span>有效性</span></th>-->
        <th nz-th [nzWidth]="'160px'"><span>操作</span></th>
      </tr>
      </thead>
    </ng-template>
    <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
      <!--<td nz-td>{{data.jcId}}</td>-->
      <td nz-td>{{data.jcName}}</td>
      <td nz-td>{{data.jcTypeName}}</td>
      <td nz-td>{{data.jcBrandName}}</td>
      <td nz-td>{{data.jcModelNo}}</td>
      <td nz-td>{{data.origin}}</td>
      <td nz-td>{{data.productTime}}</td>
      <td nz-td>{{data.usedMonth}}</td>
      <td nz-td>{{data.isSale}}</td>
      <td nz-td>{{data.price}}</td>
      <td nz-td>{{data.remark}}</td>
      <!--<td nz-td>{{data.sortNo}}</td>-->
      <!--<td nz-td>{{data.validity}}</td>-->
      <td nz-td>
          <span>
              <a (click)="showInfoModal(data)">详情</a>
              <span nz-table-divider></span>
              <a (click)="showEditModal(data)">编辑</a>
              <span nz-table-divider></span>
              <a (click)="showDeleteConfirm(data)">删除</a>
              <span nz-table-divider></span>
              <a (click)="showPicModal(data)">上传照片</a>
          </span>
      </td>
    </tr>
    </tbody>
    <span nz-table-footer>Here is footer</span>
  </nz-table>
</div>

<!--编辑-->
<nz-modal [nzVisible]="isEditVisible"
          [nzTitle]="editTitle"
          [nzWidth]="720"
          [nzWrapClassName]="'vertical-center-modal'"
          [nzContent]="editContent"
          [nzFooter]="editFooter"
          (nzOnCancel)="editCancel($event)">
  <ng-template #editTitle>
    编辑
  </ng-template>
  <ng-template #editContent>
    <form nz-form [formGroup]="editForm">
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'editJcNameId'">机床名称</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'机床名称'"
                        [formControlName]="'editJcName'"
                        [nzId]="'editJcNameId'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'editJcModelNoId'">机床型号</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'机床型号'"
                        [formControlName]="'editJcModelNo'"
                        [nzId]="'editJcModelNoId'"></nz-input>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'editJcTypeId'">机床类型</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-select [formControlName]="'editJcType'"
                         nzAllowClear
                         [nzPlaceHolder]="'选择一个类型'">
                <nz-option
                  *ngFor="let option of jcTypes"
                  [nzLabel]="option.typeName"
                  [nzValue]="option.typeId">
                </nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>机床品牌</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-select [formControlName]="'editJcBrand'"
                         nzAllowClear
                         [nzPlaceHolder]="'选择一个品牌'">
                <nz-option
                  *ngFor="let option of jcBrands"
                  [nzLabel]="option.brandName"
                  [nzValue]="option.brandId">
                </nz-option>
              </nz-select>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'editOriginId'">原产地</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'原产地'"
                        [formControlName]="'editOrigin'"
                        [nzId]="'editOriginId'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>生产日期</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-datepicker formControlName="editProductTime"
                             [nzPlaceHolder]="'选择日期'"
                             [nzSize]="'large'"></nz-datepicker>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'editUsedMonthId'">使用月数</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input-number [formControlName]="'editUsedMonth'"
                               [nzSize]="'large'"
                               [nzMin]="1" [nzStep]="1"></nz-input-number>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>状态</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-radio-group [formControlName]="'editIsSale'">
                <label nz-radio-button [nzValue]="0">
                  <span>出售中</span>
                </label>
                <label nz-radio-button [nzValue]="1">
                  <span>未上架</span>
                </label>
                <label nz-radio-button [nzValue]="2">
                  <span>已售出</span>
                </label>
              </nz-radio-group>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'editPriceId'">价格</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'价格'"
                        [formControlName]="'editPrice'"
                        [nzId]="'editPriceId'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'editFeature01Id'">特征参数1</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'特征参数1'"
                        [formControlName]="'editFeature01'"
                        [nzId]="'editFeature01Id'"></nz-input>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'editFeature02Id'">特征参数2</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'特征参数2'"
                        [formControlName]="'editFeature02'"
                        [nzId]="'editFeature02Id'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'editFeature03Id'">特征参数3</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'特征参数3'"
                        [formControlName]="'editFeature03'"
                        [nzId]="'editFeature03Id'"></nz-input>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'editFeature04Id'">特征参数4</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'特征参数4'"
                        [formControlName]="'editFeature04'"
                        [nzId]="'editFeature04Id'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'editFeature05Id'">特征参数5</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'特征参数5'"
                        [formControlName]="'editFeature05'"
                        [nzId]="'editFeature05Id'"></nz-input>
            </div>
          </div>
        </div>
      </div>

      <!--<div nz-row [nzGutter]="8">-->
        <!--<div nz-col [nzSpan]="12">-->
          <!--<div nz-form-item nz-row>-->
            <!--<div nz-form-label nz-col [nzSpan]="6">-->
              <!--<label>有效性</label>-->
            <!--</div>-->
            <!--<div nz-form-control nz-col [nzSpan]="17">-->
              <!--<nz-radio-group [formControlName]="'editValidity'">-->
                <!--<label nz-radio [nzValue]="0">-->
                  <!--<span>有效</span>-->
                <!--</label>-->
                <!--<label nz-radio [nzValue]="1">-->
                  <!--<span>无效</span>-->
                <!--</label>-->
              <!--</nz-radio-group>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="24">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label [attr.for]="'editRemarkId'">备注</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="21">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'备注'"
                        [formControlName]="'editRemark'"
                        [nzId]="'editRemarkId'"></nz-input>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #editFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'"
            (click)="editCancel($event)">返 回</button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'"
            (click)="editOk($event)"
            [nzLoading]="isEditConfirmLoading">提 交</button>
  </ng-template>
</nz-modal>

<!--新增-->
<nz-modal [nzVisible]="isAddVisible"
          [nzTitle]="addTitle"
          [nzWidth]="720"
          [nzWrapClassName]="'vertical-center-modal'"
          [nzContent]="addContent"
          [nzFooter]="addFooter"
          (nzOnCancel)="addCancel($event)">
  <ng-template #addTitle>
    新增
  </ng-template>
  <ng-template #addContent>
    <form nz-form [formGroup]="addForm">
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'addJcNameId'">机床名称</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'机床名称'"
                        [formControlName]="'addJcName'"
                        [nzId]="'addJcNameId'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'addJcModelNoId'">机床型号</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'机床型号'"
                        [formControlName]="'addJcModelNo'"
                        [nzId]="'addJcModelNoId'"></nz-input>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'addJcTypeId'">机床类型</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-select [formControlName]="'addJcType'"
                         nzAllowClear
                         [nzPlaceHolder]="'选择一个类型'">
                <nz-option
                  *ngFor="let option of jcTypes"
                  [nzLabel]="option.typeName"
                  [nzValue]="option.typeId">
                </nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>机床品牌</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-select [formControlName]="'addJcBrand'"
                         nzAllowClear
                         [nzPlaceHolder]="'选择一个品牌'">
                <nz-option
                  *ngFor="let option of jcBrands"
                  [nzLabel]="option.brandName"
                  [nzValue]="option.brandId">
                </nz-option>
              </nz-select>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'addOriginId'">原产地</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'原产地'"
                        [formControlName]="'addOrigin'"
                        [nzId]="'addOriginId'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>生产日期</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-datepicker formControlName="addProductTime"
                             [nzPlaceHolder]="'选择日期'"
                             [nzSize]="'large'"></nz-datepicker>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'addUsedMonthId'">使用月数</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input-number [formControlName]="'addUsedMonth'"
                               [nzSize]="'large'"
                               [nzMin]="1" [nzStep]="1"></nz-input-number>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>状态</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-radio-group [formControlName]="'addIsSale'">
                <label nz-radio-button [nzValue]="0">
                  <span>出售中</span>
                </label>
                <label nz-radio-button [nzValue]="1">
                  <span>未上架</span>
                </label>
                <label nz-radio-button [nzValue]="2">
                  <span>已售出</span>
                </label>
              </nz-radio-group>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'addPriceId'">价格</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'价格'"
                        [formControlName]="'addPrice'"
                        [nzId]="'addPriceId'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'addFeature01Id'">特征参数1</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'特征参数1'"
                        [formControlName]="'addFeature01'"
                        [nzId]="'addFeature01Id'"></nz-input>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'addFeature02Id'">特征参数2</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'特征参数2'"
                        [formControlName]="'addFeature02'"
                        [nzId]="'addFeature02Id'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'addFeature03Id'">特征参数3</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'特征参数3'"
                        [formControlName]="'addFeature03'"
                        [nzId]="'addFeature03Id'"></nz-input>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'addFeature04Id'">特征参数4</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'特征参数4'"
                        [formControlName]="'addFeature04'"
                        [nzId]="'addFeature04Id'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'addFeature05Id'">特征参数5</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'特征参数5'"
                        [formControlName]="'addFeature05'"
                        [nzId]="'addFeature05Id'"></nz-input>
            </div>
          </div>
        </div>
      </div>

      <!--<div nz-row [nzGutter]="8">-->

        <!--<div nz-col [nzSpan]="12">-->
          <!--<div nz-form-item nz-row>-->
            <!--<div nz-form-label nz-col [nzSpan]="6">-->
              <!--<label>有效性</label>-->
            <!--</div>-->
            <!--<div nz-form-control nz-col [nzSpan]="17">-->
              <!--<nz-radio-group [formControlName]="'addValidity'">-->
                <!--<label nz-radio [nzValue]="0">-->
                  <!--<span>有效</span>-->
                <!--</label>-->
                <!--<label nz-radio [nzValue]="1">-->
                  <!--<span>无效</span>-->
                <!--</label>-->
              <!--</nz-radio-group>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="24">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label [attr.for]="'addRemarkId'">备注</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="21">
              <nz-input [nzSize]="'large'"
                        [nzPlaceHolder]="'备注'"
                        [formControlName]="'addRemark'"
                        [nzId]="'addRemarkId'"></nz-input>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #addFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'"
            (click)="addCancel($event)">
      返 回
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'"
            (click)="addOk($event)" [nzLoading]="isAddConfirmLoading">
      提 交
    </button>
  </ng-template>
</nz-modal>

<!--详情-->
<nz-modal [nzVisible]="isInfoVisible"
          [nzTitle]="infoTitle"
          [nzWidth]="1020"
          [nzWrapClassName]="'vertical-center-modal'"
          [nzContent]="infoContent"
          [nzFooter]="infoFooter"
          (nzOnCancel)="infoCancel($event)">
  <ng-template #infoTitle>
    详情
  </ng-template>
  <ng-template #infoContent>
    <form nz-form [formGroup]="infoForm" class="info-form">
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>机床名称</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzReadonly]="true"
                        [nzPlaceHolder]="'机床名称'"
                        [formControlName]="'infoJcName'"
                        [nzId]="'infoJcNameId'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'infoJcModelNoId'">机床型号</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzReadonly]="true"
                        [nzPlaceHolder]="'机床型号'"
                        [formControlName]="'infoJcModelNo'"
                        [nzId]="'infoJcModelNoId'"></nz-input>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'infoJcTypeId'">机床类型</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzReadonly]="true"
                        [nzPlaceHolder]="'机床类型'"
                        [formControlName]="'infoJcType'"
                        [nzId]="'infoJcTypeId'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>机床品牌</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzReadonly]="true"
                        [nzPlaceHolder]="'选择一个品牌'"
                        [formControlName]="'infoJcBrand'"
                        [nzId]="'infoJcBrandId'"></nz-input>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'infoOriginId'">原产地</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzReadonly]="true"
                        [nzPlaceHolder]="'原产地'"
                        [formControlName]="'infoOrigin'"
                        [nzId]="'infoOriginId'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>生产日期</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzReadonly]="true"
                        [formControlName]="'infoProductTime'"
                        [nzId]="'infoProductTimeId'"></nz-input>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'infoUsedMonthId'">使用月数</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzReadonly]="true"
                        [nzPlaceHolder]="'使用月数'"
                        [formControlName]="'infoUsedMonth'"
                        [nzId]="'infoUsedMonthId'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label>状态</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-radio-group [formControlName]="'infoIsSale'">
                <label nz-radio-button [nzValue]="0" [nzDisabled]="true">
                  <span>出售中</span>
                </label>
                <label nz-radio-button [nzValue]="1" [nzDisabled]="true">
                  <span>未上架</span>
                </label>
                <label nz-radio-button [nzValue]="2" [nzDisabled]="true">
                  <span>已售出</span>
                </label>
              </nz-radio-group>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'infoPriceId'">价格</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzReadonly]="true"
                        [nzPlaceHolder]="'价格'"
                        [formControlName]="'infoPrice'"
                        [nzId]="'infoPriceId'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'infoFeature01Id'">特征参数1</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzReadonly]="true"
                        [nzPlaceHolder]="'特征参数1'"
                        [formControlName]="'infoFeature01'"
                        [nzId]="'infoFeature01Id'"></nz-input>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'infoFeature02Id'">特征参数2</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzReadonly]="true"
                        [nzPlaceHolder]="'特征参数2'"
                        [formControlName]="'infoFeature02'"
                        [nzId]="'infoFeature02Id'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'infoFeature03Id'">特征参数3</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzReadonly]="true"
                        [nzPlaceHolder]="'特征参数3'"
                        [formControlName]="'infoFeature03'"
                        [nzId]="'infoFeature03Id'"></nz-input>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'infoFeature04Id'">特征参数4</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzReadonly]="true"
                        [nzPlaceHolder]="'特征参数4'"
                        [formControlName]="'infoFeature04'"
                        [nzId]="'infoFeature04Id'"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label [attr.for]="'infoFeature05Id'">特征参数5</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="17">
              <nz-input [nzSize]="'large'"
                        [nzReadonly]="true"
                        [nzPlaceHolder]="'特征参数5'"
                        [formControlName]="'infoFeature05'"
                        [nzId]="'infoFeature05Id'"></nz-input>
            </div>
          </div>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="24">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label [attr.for]="'infoRemarkId'">备注</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="21">
              <nz-input [nzSize]="'large'"
                        [nzReadonly]="true"
                        [nzPlaceHolder]="'备注'"
                        [formControlName]="'infoRemark'"
                        [nzId]="'infoRemarkId'"></nz-input>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="info-pic-cont">
      <div class="pic">
        <img [src]="pic1_url" alt="机床照片1">
      </div>
      <div class="pic">
        <img [src]="pic2_url" alt="机床照片2">
      </div>
      <div class="pic">
        <img [src]="pic3_url" alt="机床照片3">
      </div>
      <div class="pic">
        <img [src]="pic4_url" alt="机床照片4">
      </div>
      <div class="pic">
        <img [src]="pic5_url" alt="机床照片5">
      </div>
      <div class="pic">
        <img [src]="pic6_url" alt="机床照片6">
      </div>
    </div>
  </ng-template>
  <ng-template #infoFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'"
            (click)="infoCancel($event)">
      返 回
    </button>
  </ng-template>
</nz-modal>
