.form-cont,
.table-cont {
  width: 100%;
  padding: 5px 10px 0 10px;
}

.ant-row.ant-form-item {
  margin-bottom: 8px;
}

.ant-advanced-search-form {
  padding: 14px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

:host ::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}

.info-form {
  width: 688px;
  display: inline-block;
}

.info-pic-cont {
  float: right;
  width: 300px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.info-pic-cont .pic {
  position: relative;
  padding: 2px;
  display: inline-block;
  width: 145px;
  height: 125px;
}

.info-pic-cont .pic img {
  width: 100%;
  max-height: 100%;
}

.info-form .ant-row.ant-form-item {
  margin-bottom: 16px;
}
