
<div class="container">
  <div class="topBgDiv">
    <div class="companyIconDiv">

    </div>
  </div>
  <div class="loginDiv" (keydown)="enterKeyDown($event, f.value)">
    <h4 class="login_b_title">
      用户登录
    </h4>
    <!--<h6 class="login_s_title">-->
      <!--Login-->
    <!--</h6>-->
    <hr class="hr_c">
    <form method="post" #f="ngForm" >
      <table style="width: 100%">
        <tr>
          <td class="td_padding">
            <div class="user">
              <i class="anticon anticon-user"></i>
            </div>
          </td>
          <td class="login_info">账号:</td>
          <td>
            <input class="login-form-input" placeholder="" [(ngModel)]="signIn.accountNumber" name="accountNumber" />
          </td>
        </tr>
        <tr>
          <td class="td_padding">
            <div class="pwd">
              <i class="anticon anticon-key"></i>
            </div>
          </td>
          <td class="login_info">密码:</td>
          <td>
            <input class="login-form-input" type="password" placeholder="" style="top: 205px" [(ngModel)]="signIn.code" name="code"/>
          </td>
        </tr>
      </table>

      <hr class="hr_c">
      <div class="login_buttons">
        <button class="login_sign_up"  (click)="onSubmit(f.value)">登录</button>

      </div>

    </form>
  </div>


  <!--footer-->
  <div class="bottombgDiv">
    <div class="companyInfo">
      <span>登登二手机床直卖网@版权2017</span>
    </div>
  </div>

</div>
